#checkerboard { 
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    margin-top: 51px;
    margin-bottom: 51px;
    background-color: rgb(89, 119, 182);
    box-shadow: 8px 8px 8px rgb(77, 77, 77);
}

